.env
db.sqlite3
__pycache__/
*.pyc

ReservaHospedagemApp/__pycache__/*
core/__pycache__/*
anfitriao/__pycache__/*
hospede/__pycache__/*
accounts/__pycache__/*
imovel/__pycache__/*

*/migrations/
!*/migrations/__init__.py

apps/core/migrations/*
apps/anfitriao/migrations/*
apps/hospede/migrations/*
apps/accounts/migrations/*
apps/imovel/migrations/*
