.env
db.sqlite3
__pycache__/
*.pyc

ReservaHospedagemApp/__pycache__/*
core/__pycache__/*
anfitriao/__pycache__/*
hospede/__pycache__/*
accounts/__pycache__/*
imovel/__pycache__/*
comodidade/__pycache__/*
servico_adicional/__pycache__/*
reserva/__pycache__/*
comodidade_imovel/__pycache__/*
item_reserva/__pycache__/*


*/migrations/
!*/migrations/__init__.py

apps/core/migrations/*
apps/anfitriao/migrations/*
apps/hospede/migrations/*
apps/accounts/migrations/*
apps/imovel/migrations/*
apps/comodidade/migrations/*
apps/servico_adicional/migrations/*
apps/reserva/migrations/*
apps/comodidade_imovel/migrations/*
apps/item_reserva/migrations/*